/*this is a CSS Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*HTML 5 reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  header
  ========================================
*/
body {
    font-family: 'lato';
    color: #fff;  
}

.main-header {
    background-image: url('../images/header_large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 654px;
}

.navigation{
    padding-bottom: 20px
}

.logo {
    padding-top: 30px;
    padding-left: 50px;
    float: left;
    font-size: 20px;
}

nav{
    padding-top: 30px;
    padding-right: 50px;
    text-align: right;
}

nav ul li{
    display: inline-block;
    padding-left: 20px;
    font-size: 17px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

hr {
    width: 93%;
}

.header-mid h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 30px
}

.header-mid p{
    font-size: 30px;
    font-weight: 300;
    padding-right: 150px;
    padding-left: 100px;
    line-height: normal;
    padding-bottom: 20px;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    nav {
        text-align: center;
        line-height: normal;
    }
    
    nav {
        text-align: center;
        line-height: normal;
    
    }
    
    .header-mid p {
    padding-right: 10px;
    padding-left: 10px;
    }
}

/*
  ========================================
  CONTENT INSIDE AREA SECTION
  ========================================
*/

.issues {
    color: #000;
    text-align: center;
    font-size: 40px;
    padding-top: 50px
}

.col {
    color: #000;
    text-align: center;
}

.col h2 {
    font-size: 25px;
    padding: 15px;
}

.col p {
    font-weight: 300;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
}


/*
  ========================================
  Button
  ========================================
*/

.button {
    text-align: center;
    padding-bottom: 25px;
}

.btn {
    background: #196619;
    border-radius: 35px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-decoration: none;
}


.btn-alt {
    text-align: center;
    padding: 15px 20px;
}

.btn:hover {
    border: 1px solid;
}

/*
  ========================================
  GRID OF THREE
  ========================================
*/

	
.area_3_of_3 {
	width: 100%; 
}

.area_2_of_3 {
	width: 66.13%; 
}

.area_1_of_3 {
	width: 32.26%; 
}


/*
  ========================================
  GO FULL WIDTH AT LESS THAN 480 PIXELS
  ========================================
*/

@media only screen and (max-width: 480px) {
	.area_3_of_3 {
		width: 100%; 
	}
	.area_2_of_3 {
		width: 100%; 
	}
	.area_1_of_3 {
		width: 100%;
	}
}

/*
  ========================================
    SECTIONS
  ========================================
*/

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*
  ========================================
  GROUPS
  ========================================
*/


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*
  ========================================
  GRID COLUMN SETUP
  ========================================
*/

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
    
    .main-header {
        padding-bottom: 450px;
    }
}

/*
  ========================================
  SOLUTION
  ========================================
*/

.solution {
    background: #003312;
}

.solution h1 {
    color: ;
    padding-top: 100px;
    font-size: 60px;
    text-align: center;
    padding-bottom: 20px;
}

.solution h2 {
    color: ;
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    line-height: 50px;
    padding-bottom: 100px;
}

/*
  ========================================
  TABS
  ========================================
*/


.tabs {
   background-image: url(../images/forests.jpg);
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 400px;
}
/*
  ========================================
  GRID OF TWO
  ========================================
*/


.area_2_of_2 {
	width: 100%;
}

.area_1_of_2 {
	width: 49.2%;
}

/*
  ========================================
  GO FULL WIDTH AT LESS THAN 480 PIXELS
  ========================================
*/

@media only screen and (max-width: 480px) {
	.area_2_of_2 {
		width: 100%; 
	}
	.area_1_of_2 {
		width: 100%; 
	}
}


/*
  ========================================
  Footer 
  ========================================
*/

.footer {
    background: #001a09;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 30px;
}

/*
  ========================================
  Social 
  ========================================
*/

.social {
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    word-spacing: 20px;
}

.social a {
    color: #fff;
    text-decoration: none;
}

.social a:hover {
    color: #333;
}

.copyright {
    line-height:normal; 
    text-align: center
}